body {
    font-family: Arial, sans-serif;
    background-color: #2da563;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.calculator {
    background: rgb(70, 40, 119);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(137, 161, 50, 0.1);
}

input[type="text"] {
    width: 100%;
    padding: 0px;
    margin-bottom: 10px;
    font-size: 1.5em;
    text-align: right;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

button {
    padding: 15px;
    font-size: 1.2em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #359459;
    color: white;
    transition: background-color 0.3s;
}


button:hover {
    background-color: #57132a;
}